* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.container {
  padding: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: rgb(194, 250, 233);
  border: 8px dashed rgb(154, 239, 241);
}

#player {
  background-color: black;
  border: 4px grey;
  width: 50px;
  height: 50px;
  border-radius: 29px;
  position: absolute;
  transition: all 0.3s;
}

.pointer {
  background-color: rgb(221, 216, 216);
  height: 50px;
  margin-top: 30px;
  border-bottom: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main {
  height: 80vh;
}
.icon {
  font-size: 30px;
  color: black;
  border-radius: 50%;
  border: 2px solid black;
  padding: 8px 8px;
  display: inline-block;
  transition: 1s;
  list-style: none;
}
